/* CSS for standard HTML elements */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    line-height: inherit;
    scroll-behavior: smooth;
    tab-size: 4;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

/*
main {
    margin: 0 5vw;
    padding: 5vw;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.125);
}

button:hover {
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.6);
}

button:active {
    box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.4);
}
*/