/* CSS for standard HTML elements */

:root {
    color-scheme: light dark;
    --background-color: light-dark(white, black);
    --tile-background-color: light-dark(rgba(0,0,0,.1), rgba(255,255,255,.075));
    --shadow-color: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.2));
    --blur-color: light-dark(red, red);
    --text-color: light-dark(black, white);

    --github-logo-color: light-dark(#24292f, #fff);


    --primary-color: light-dark(rgb(136, 4, 136), rgb(78, 24, 78));
    --secondary-color: green;

    --text-large: 21px;
    --text-medium: 17px;
    --text-small: 13px;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

html {
    line-height: inherit;
    scroll-behavior: smooth;
    tab-size: 4;
}

body {
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color)
}

@media only screen and (orientation: landscape) and (min-width: 1920px) {
    body {
        width: 1920px;
    }
}