:root {
    --background-color: rgba(0, 89, 255, 0.25);


    --tile-background: white;
    --primary-color: purple;
    --secondary-color: green;

    --text-large: 21px;
    --text-medium: 17px;
    --text-small: 13px;
}