Options +MultiViews
Options -Indexes

RewriteEngine On

# ignore rewrite for files and dirs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# redirecting all urls to index.php
RewriteRule ^(.*)$ index.php?$1 [QSA]